<footer class="w-full bg-transparent shadow mt-5">

    <div class="container mx-auto px-4 py-8 flex justify-around text-neutral-400">
        <div class="space-y-4">
            <h3 class="text-lg font-semibold text-black dark:text-white">Portafolio</h3>
            <p class="text-sm text-foreground/60">© <!-- -->2025<!-- --> Daniel Casallas.</p>
        </div>
        <div class="space-y-4">
            <h3 class="text-lg font-semibold text-black dark:text-white">Conectate conmigo:</h3>
            <div class="flex flex-row space-x-4">
                @for (item of listContact; track item) {
                <a [href]="item.link" target="_blank"
                    class="border-1 rounded-4xl p-1 flex items-center space-x-3 hover:text-white transition">
                    <lucide-angular [img]="item.icon" class="my-icon"></lucide-angular>
                </a>
                }
            </div>
        </div>
    </div>
</footer>