<section class="">
    <h1 class="text-3xl font-semibold text-black dark:text-white">Acerca de mí</h1>
    <p class="mt-4 text-lg text-black dark:text-white">
        Soy Daniel Casallas, un apasionado desarrollador backend junior con un enfoque en la creación de aplicaciones web eficientes y escalables. Me especializo en el desarrollo de APIs RESTful utilizando Laravel y FastAPI, y tengo experiencia en bases de datos como MongoDB, PostgreSQL y MySQL. Además, disfruto trabajando con tecnologías modernas como Docker y Kubernetes para implementar soluciones en la nube.
    </p>
</section>