<section class="h-screen flex flex-col justify-center items-center text-white">
  <h1 class="text-5xl font-extrabold">Hola, soy Daniel Casallas</h1>
  <h1 class="mt-2 text-3xl font-bold">&#64;casariz</h1>
  <p class="mt-2 text-xl">Desarrollador Backend</p>
  <a routerLink="/projects"
    class="mt-8 px-6 py-3 bg-white text-black rounded-lg shadow-lg hover:bg-gray-200 transition">
    Si quieres ver mis proyectos, haz clic aquí
  </a>
</section>

<app-about></app-about>

<section class="container flex flex-row items-center justify-center mx-auto shadow-lg rounded-lg space-x-4">
  <app-skills></app-skills>
  <app-projects></app-projects>
</section>