<section id="projects" class="py-20 px-4">
    <div class="max-w-7xl mx-auto">
        <div class="transition-all duration-1000">
            <h2 class="text-4xl md:text-5xl font-bold text-center text-slate-800 dark:text-white mb-16">
                Mis
                <span
                    class="bg-gradient-to-r from-indigo-600 via-purple-600 to-blue-600 dark:from-purple-400 dark:via-blue-400 dark:to-indigo-400 bg-clip-text text-transparent">
                    Proyectos
                </span>
            </h2>

            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">

            </div>
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
                @for (project of projects; track project) {
                <app-project-card [project]="project"></app-project-card>
                }
            </div>
        </div>
    </div>

</section>